
/* COUNTER PROGRAM */
/* #Counter {
    display: block;
    text-align: center;
    font-size: 60px;
} */

/* ----------------------------------------------- */

/* RANDOM NUMBER GENERATOR */
/* #Number1 { 
    display:block;
    text-align:center;
    font-size: 100px;
}
#Number2 { 
    display:block;
    text-align:center;
    font-size: 100px;
}
#Number3 { 
    display:block;
    text-align:center;
    font-size: 100px;
} */

/* ----------------------------------------------- */